mainproject-classify-flower-images/__pycache__/*
mainproject-classify-flower-images/.ipynb_checkpoints/*
mainproject-classify-flower-images/.vscode/*
mainproject-classify-flower-images/checkpoints/*
mainproject-classify-flower-images/_tmp/*
